#type {
  opacity: 1.0;

  transition-property: opacity;
  transition-duration: 0.3s;
}


#type::after {
  opacity: 1.0;
  content: '|';

  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 0.7s;
}


@keyframes blink {
  50% { opacity: 0.0; }
}